body {
    background-color: #ddd4d4 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    /* border: #AAA 1px solid; */
    width: 1280px;
    padding: 10px;
    color: #CCCCCC;
}

form {
    margin-left: auto;
    margin-right: auto;
    /* border: #AAA 1px solid; */
    width: 600px;
    text-align: center;
}

.cntr {
    text-align: center;
}

.btn{
    background-color: #555555;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}


.submenu-img {

    position: inherit;
    padding: 10px 0 10px 0;
    margin-left: 40%;
    display:inline-block; /* add this rule */
    margin-right: 10%;
    text-align:center;
}

.button-img {

    position: inherit;
    padding: 10px 0 10px 0;
    margin-left: 5px;
    display:inline-block; /* add this rule */
    text-align:center;
}

.container-fluid {
    background-color: #998888;

}

.navbar-inverse .navbar-text {
    color: #350505 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #350505 !important;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff !important;
    background-color: transparent !important;
}

.navbar-inverse .navbar-brand {
    color: #350505 !important;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff !important;
    background-color: transparent !important;
}

h3 {
    margin-right: 600px;
    color: #350505 !important;
}

h1 {
    color: #350505 !important;
}

.cover-heading
{
    color: #350505 !important;
}

.lead
{
    color: #350505 !important;
}

h2 {
    color: #350505 !important;
}

p
{
    color: #350505 !important;
}