@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/hello.js")"></script>
    </head>
    <body>

        @* And here's where we render the `Html` object containing
        * the page content. *@
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand not_logged_in" href="@routes.HomeController.home">Photo Alter</a>
                <a class="navbar-brand logged_in" href="@routes.BooksController.index">Photo Alter</a>
            </div>
            <ul class="nav navbar-nav navbar-middle logged_in">
                <li> <img src="@routes.Assets.versioned("images/home.png")" class="submenu-img"></li>
                <li><a href="@routes.BooksController.index">Home</a></li>
                <li><img src="@routes.Assets.versioned("images/picture.png")" class="submenu-img"></li>
                <li><a href="@routes.BooksController.index">Pictures</a></li>
                <li><img src="@routes.Assets.versioned("images/about.png")" class="submenu-img"></li>
                <li><a href="@routes.HomeController.about">About</a></li>
                <li><img src="@routes.Assets.versioned("images/contact.png")" class="submenu-img"></li>
                <li><a href="@routes.HomeController.contact">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right not_logged_in">
                <li><img src="@routes.Assets.versioned("images/login.png")" class="submenu-img"></li>
                <li><a href="@routes.UserController.login">Login</a></li>
                <li><img src="@routes.Assets.versioned("images/login.png")" class="submenu-img"></li>
                <li><a href="@routes.UserController.create()">Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right logged_in">
                <li><img src="@routes.Assets.versioned("images/cart.png")" class="submenu-img"></li>
                <li><a href="@routes.BooksController.cart()">My Cart</a></li>
                <li><img src="@routes.Assets.versioned("images/login.png")" class="submenu-img"></li>
                <li><a href="@routes.HomeController.home">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
    @content
    </main>


    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
